body {
    margin: 0px;
    padding: 0px;
}

.container {
    font-family: "Roboto", sans-serif;
    width: 90vw;
    margin: 0 auto;
}

.container > * {

}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-links a,
.site-description {
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
}

.header-logo,
.main-title,
.sign-up-button {
    color: #F9FAF8;
}

.header,
.hero-banner {
    background-color: #1F2973;
}

.hero-banner {
    display: flex;
    padding: 75px 0px;
    gap: 30px;
}

.info-signup {
    flex: 1 1 45%;
}

.placeholder-img {
    width: 100%;
    height: auto;
}

.img-container {
    flex: 1 1 55%;
}

.sign-up-button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}