body {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

.container {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

.header,
.hero-banner,
.random-info,
.quote-section,
.call-to-action {
    padding: 0px 40px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-links a,
.site-description {
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
}

.header-logo,
.main-title,
.sign-up-button,
.sign-up-block {
    color: #F9FAF8;
}

.header,
.hero-banner {
    background-color: #1F2937;
}

.hero-banner {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 30px;
}

.info-signup {
    flex: 1 1 45%;
}

.placeholder-img {
    width: 100%;
    height: auto;
}

.img-container {
    flex: 1 1 55%;
}

.placeholder-img {
    border-radius: 20px;
}

.sign-up-button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 10px;
}

.info-signup .sign-up-button {
    border: none;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.random-info,
.quote-section {
    color: #1F2937;
}

.random-info-header {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;

    /* Eventually it would be cool for the gap to be dependent on page width */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-img {
    /* width: 100%;
    height: auto; */
    min-width: 125px;
    min-height: 125px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    box-sizing: border-box;

    /* Ideally it would be cool for the icons to grow/shrink a bit as the page is resized, but keep their aspect ratios. My current understanding is that this won't work with empty placeholder divs, because they will only be as big as their content or min-size. Having an icon inside them would fix this I believe*/
}

.card-text {
    width: 0px;
    min-width: 100%;
    text-align: center;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 60px;
    padding-bottom: 60px;
}

.quote-block {
    max-width: 65%;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-credit {
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.sign-up-block {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    margin: 0px 40px;
    border-radius: 5px;
    gap: 100px;
}

.info-text {
    flex: 1 1 auto;
}

.action-button {
    border: 2px solid #F9FAF8;
    flex: 0 0 auto;
}

.attention {
    font-size: 20px;
    font-weight: bold;
}

.info-text p {
    margin: 0px;
}